.multipage-pagination {
  padding-left: 0;
}

.multipage-pagination .pagination__previous {
  display: inline-block;
  width: 9em;
}
.multipage-pagination .pagination__next {
  display: inline-block;
  width: 9em;
}
#multipage-previous {
  display: inline-block;
  width: 4em;
  padding: 15px;
  padding-left: 4em;
  text-align: left;
  background: url("/core/misc/icons/000000/chevron-left.svg") left no-repeat;
  background-size: contain;
}
#multipage-next {
  display: inline-block;
  width: 4em;
  padding: 15px;
  padding-right: 4em;
  text-align: right;
  background: url("/core/misc/icons/000000/chevron-right.svg") right no-repeat;
  background-size: contain;
}
